* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-synthesis: none;
}

.App {
  text-align: center;
}

button {
  padding: 5px 10px 5px 10px;
  font-size: 24px;
}

.d-flex {
  display: flex;
}

.jc {
  justify-content: center;
}

.mt-2 {
  margin-top: 16px;
}

.g-20 {
  gap: 20px;
}

.txt {
  font-size: 24px;
  font-weight: bold;
}